<vn-page-heading heading="文档管理" sub-heading="Redpack Management"></vn-page-heading>

<div class="page-row">
    <section class="panel panel-default">
        <div class="panel-heading">
            <h5>系统文档</h5>

            <div class="panel-search form-inline">
                <div class="input-group">
                    <button type="button" class="btn btn-default" disabled  ngf-select ngf-change="vm.upload($files)">
                        <i class="fa fa-fw fa-upload"></i>上传文档
                    </button>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="col-md-3"  ng-repeat="item in vm.imageList">
                <img src="{{item.absoluteImagePath}}" alt=""/><br/>
                <span ng-bind="item.name"></span>
                <div class="col-md-12">
                    <!--<a href="" ng-click="vm.action({type: 'update', text: '修改相册',data: item})"><i class="fa fa-pencil"></i>改名</a>-->
                    <!--<a href="" ng-click="vm.delete(item)"><i class="fa fa-trash"></i>删除</a>-->
                </div>
            </div>
        </div>
    </section>

    <div class="panel panel-primary">
        <div class="panel-heading"></div>
        <div class="panel-body">
            正在建设。。。
        </div>
    </div>
</div>