<form class="form-condensed" novalidate vn-auto-height listen-on="aside.show" parent autocomplete="off">
    <fieldset>
        <div class="form-group">
            <label class="control-label" >编码：</label>
            <input class="form-control" type="text" ng-model="vm.shop.storeNo" disabled readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" >名称：</label>
            <input class="form-control" type="text" ng-model="vm.shop.storeName" disabled readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" >配送中心ID：</label>
            <input class="form-control" type="text" ng-model="vm.shop.dcId" disabled readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" >销售区域ID：</label>
            <input class="form-control" type="text" ng-model="vm.shop.salesAreaId" disabled readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" >采购区域ID：</label>
            <input class="form-control" type="text" ng-model="vm.shop.purchaseAreaId" disabled readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" >渠道类型：</label>
            <input class="form-control" type="text" ng-model="vm.shop.ownerType" disabled readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" >省：</label>
            <input class="form-control" type="text" ng-model="vm.shop.provinceDesc" disabled readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" >市：</label>
            <input class="form-control" type="text" ng-model="vm.shop.cityDesc" disabled readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" >区/县：</label>
            <input class="form-control" type="text" ng-model="vm.shop.distDesc" disabled readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" >门店电话：</label>
            <input class="form-control" type="text" ng-model="vm.shop.storeTel" disabled readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" >门店邮箱：</label>
            <input class="form-control" type="text" ng-model="vm.shop.email" disabled readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" >门店详细地址：</label>
            <input class="form-control" type="text" ng-model="vm.shop.storeAddress" disabled readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" >门店传真：</label>
            <input class="form-control" type="text" ng-model="vm.shop.storeFax" disabled readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" >门店网址：</label>
            <input class="form-control" type="text" ng-model="vm.shop.website" disabled readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" >POS机终端号：</label>
            <input class="form-control" type="text" ng-model="vm.shop.posNo" disabled readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" >现金解款账户账号：</label>
            <input class="form-control" type="text" ng-model="vm.shop.bankAccount" disabled readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" >月审核金额：</label>
            <input class="form-control" type="text" ng-model="vm.shop.monthAuditAmount" disabled readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" >eas门店编码：</label>
            <input class="form-control" type="text" ng-model="vm.shop.easStoreCode" disabled readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" >门店类型字段：</label>
            <input class="form-control" type="text" ng-model="vm.shop.storeType" disabled readonly/>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <button class="btn btn-link" type="button" ng-click="asideModel.cancel(undefined, true)">
                <i class="fa fa-fw fa-times"></i>取消
            </button>
        </div>
    </fieldset>
</form>
