$fonts: (
    serif: 'Georgia' 'Cambria' 'Times New Roman' 'WenQuanYi Microhei' '文泉驿微米黑' 'STSong' '华文宋体' 'SimSun' '中易宋体' serif,

    sans-serif: 'Helvetica Neue' 'Helvetica' 'Arial' 'WenQuanYi Microhei' '文泉驿微米黑' 'Heiti SC' '黑体' 'Microsoft YaHei' '微软雅黑' sans-serif,

    monospace: 'Bitstream Vera Sans Mono' 'Consolas' 'Monaco' 'Courier' monospace
) !default;
