<vn-page-heading heading="系统管理" sub-heading="System Management"></vn-page-heading>

<div class="page-row">
    <div class="panel panel-default panel-split">
        <div class="panel-heading">
            <h5>已绑定的微信账号</h5>
        </div>

        <ul class="list-group">
            <li class="list-group-item media clearfix" ng-repeat="wechat in vm.wechatList track by wechat.id">
                <div class="media-body">
                    <h5 class="media-heading">
                        <a ng-click="vm.update(wechat)">{{::wechat.weixinAccount}}</a>
                        <small class="label label-default pull-right clickable" bs-tooltip data-title="{{::wechat.weixinPwd}}">{{::wechat.weixinId}}</small>
                    </h5>
                    <div class="media-meta text-muted">
                        <small class="media-meta-item">
                            公司：<span ng-bind="::wechat.orgName"></span>
                        </small>
                        <small class="media-meta-item">
                            群组：<span ng-bind="::wechat.teamName"></span>
                        </small>
                        <small class="media-meta-item">
                            创建：<time datetime="{{::wechat.createDate}}" ng-bind="::wechat.createDate | readable : 'date'"></time>
                        </small>
                        <small class="media-meta-item">
                            更新：<time datetime="{{::wechat.updateDate}}" ng-bind="::wechat.updateDate | readable : 'date'"></time>
                        </small>
                    </div>
                    <div class="media-action">
                        <small class="media-action-item" ng-if="!admin.isReadOnly">
                            <a ng-click="vm.unbind(wechat)">解除绑定</a>
                        </small>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="panel panel-default panel-split">
        <div class="panel-heading">
            <h5>{{vm.formMode}}</h5>
        </div>
        <div class="panel-body">
            <form name="vm.form" novalidate ng-init="vm.wechat.type = 1">
                <div class="form-group">
                    <label class="control-label">选择群组：</label>
                    <ui-select name="teamId" ng-model="vm.wechat.teamId">
                        <ui-select-match placeholder="输入名称模糊查找">
                            {{$select.selected.teamName}}
                        </ui-select-match>
                        <ui-select-choices refresh="vm.searchTeam($select.search)" repeat="team.id as team in vm.teams">
                            <span>{{::team.teamName}}</span>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group" ng-class="{ 'has-error': vm.form.weixinAccount.$touched && vm.form.weixinAccount.$invalid }">
                    <label for="weixinAccount">微信账号：</label>
                    <input class="form-control" id="weixinAccount" name="weixinAccount" ng-model="vm.wechat.weixinAccount" required>
                </div>
                <div class="form-group" ng-class="{ 'has-error': vm.form.weixinId.$touched && vm.form.weixinId.$invalid }">
                    <label for="weixinId">微信应用号：</label>
                    <input class="form-control" id="weixinId" name="weixinId" ng-model="vm.wechat.weixinId" required>
                </div>
                <div class="form-group" ng-class="{ 'has-error': vm.form.weixinPwd.$touched && vm.form.weixinPwd.$invalid }">
                    <label for="weixinPwd">微信应用秘钥：</label>
                    <input class="form-control" id="weixinPwd" name="weixinPwd" ng-model="vm.wechat.weixinPwd" required>
                </div>
                <div class="form-group" ng-if="!admin.isReadOnly">
                    <button type="button" class="btn btn-primary" ng-click="vm.bind()">绑定</button>
                </div>
            </form>
        </div>
    </div>
</div>
