<vn-page-heading heading="新浪管理" sub-heading="Sina Management"></vn-page-heading>

<div class="page-row">
    <section class="panel panel-default">
        <div class="panel-heading">
            <h5>新浪／绑定列表</h5>

            <!--<div class="panel-search form-inline" ng-if="vm.isLoaded">-->
            <!--<div class="input-group">-->
            <!--<input class="form-control" ng-model="vm.queryParams.content" placeholder="输入关键字搜索记录" ui-keydown="{'enter': 'vm.search()'}">-->
            <!--</div>-->
            <!--<div class="input-group btn-group">-->
            <!--<button type="button" class="btn btn-primary" ng-click="vm.search()">-->
            <!--<i class="fa fa-fw fa-search"></i>搜索-->
            <!--</button>-->
            <!--</div>-->
            <!--</div>-->
        </div>

        <table class="am-fade-and-scale table table-hover">
            <thead>
            <tr>
                <th class="grid-4 clickable">
                    绑定用户
                </th>
                <th class="grid-4 clickable">
                    所属机构
                </th>
                <th class="grid-4 clickable">
                    是否为信息流入用户
                </th>
                <th class="grid-4 clickable">
                    设置流入群组
                </th>
            </tr>
            </thead>

            <tbody class="text-muted">
            <tr ng-if="vm.isEmpty">
                <td class="alert alert-warning text-center">
                    <i class="fa fa-fw fa-exclamation-triangle"></i>没有任何数据
                </td>
            </tr>
            <!--<tr ng-hide="vm.isEmpty">-->
                <!--<td class="grid-4">绑定用户名称</td>-->
                <!--<td class="grid-4">所属的机构</td>-->
                <!--<td class="grid-4">-->
                    <!--<span>是</span>-->
                    <!--&nbsp;&nbsp;或&nbsp;&nbsp;-->
                    <!--<span>否</span>-->
                <!--</td>-->
                <!--<td class="grid-4">-->
                    <!--<button type="button" ng-click="vm.setBindTeam(vm.sinaList.id)">设定</button>-->
                    <!--<button type="button" ng-click="vm.cancelBindTeam(vm.sinaList.id)">取消设定</button>-->
                <!--</td>-->
            <!--</tr>-->
            <tr ng-repeat="sina in vm.sinaList">
                <td class="grid-4" ng-bind="sina.userName"></td>
                <td class="grid-4" ng-bind="sina.orgName"></td>
                <td class="grid-4">
                    <span ng-show="sina.forInformationFlows=='1'">是</span>
                    <span ng-show="sina.forInformationFlows=='0'">否</span>
                </td>
                <td class="grid-4">
                    <div ng-if="!admin.isReadOnly">
                        <button type="button" ng-click="vm.setBindTeam(vm.sinaList.id)">设定</button>
                        <button type="button" ng-click="vm.cancelBindTeam(vm.sinaList.id)">取消设定</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <!--<div class="panel-footer text-center" ng-if="vm.isLoaded">-->
        <!--<pagination class="pagination-sm" ng-model="vm.queryParams.page" ng-change="vm.search()" total-items="vm.totalItems" items-per-page="vm.queryParams.size"></pagination>-->
        <!--<small class="pagination-meta text-muted">-->
        <!--{{vm.queryParams.page}}／{{vm.totalPages}} 页－{{vm.totalItems}} 项-->
        <!--</small>-->
        <!--</div>-->
    </section>
</div>
