<vn-page-heading heading="报名人员列表" ></vn-page-heading>

<div class="page-row">
    <section class="panel panel-default">
        <div class="panel-heading">
            <h5>
                <vn-link-back target="meeting.list" option="{reload: false}"></vn-link-back>
                <div style="display: inline-block;width: 350px;">
                    <ui-select multiple ng-model="vm.inviteMembers">
                        <ui-select-match placeholder="输入姓名搜索">
                            {{$item.value}}
                        </ui-select-match>
                        <ui-select-choices refresh="vm.searchUsers($select.search)" repeat="user in vm.inviteCandidates track by $index">
                            {{user.label}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <button class="btn btn-primary" ng-click="vm.invite()">邀请参会</button>
            </h5>

            <div class="panel-search form-inline" ng-if="vm.isLoaded">
                <div class="input-group btn-group">
                    <a href="" class="btn btn-default">邀请人数 {{vm.meeting.numbers.schedule}}</a>
                    <a href="" class="btn btn-default">报名人数 {{vm.meeting.numbers.signup}}</a>
                    <a href="" class="btn btn-default">签到人数 {{vm.meeting.numbers.participate}}</a>
                    <a href="" class="btn btn-default">总人数 {{vm.meeting.numbers.all}}</a>
                    <a type="button" class="btn btn-primary" href="{{api}}/console/2.0/meeting/export/{{vm.meeting.meetingId}}">导出数据</a>
                </div>
            </div>
        </div>

        <table class="am-fade-and-scale table table-hover" ng-if="vm.isLoaded">
            <thead>
            <tr>
                <th >
                    参加人员
                </th>
                <th >
                    邀请答复
                </th>
                <th >
                    报名状态
                </th>
                <th >
                    签到时间
                </th>
                <th >操作</th>
            </tr>
            </thead>

            <tbody class="text-muted">
            <tr ng-if="vm.isEmpty">
                <td class="alert alert-warning text-center" colspan="5">
                    <i class="fa fa-fw fa-exclamation-triangle"></i>没有任何数据
                </td>
            </tr>
            <tr ng-repeat="member in vm.meeting.meetingUsers">
                <td class="col-md-2" ng-bind="::member.userName"></td>
                <td ng-bind="::member.scheduleStatusName"></td>
                <td class="col-md-4" ng-bind="::member.signupStatusName"></td>
                <td ng-bind="::member.participateTime"></td>
                <td >
                    <a href="" ng-click="vm.openFormDetail(member.id)">报名详情</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
