<form class="form-condensed" name="vm.form" novalidate vn-auto-height listen-on="aside.show" parent>
    <fieldset>
        <legend class="text-muted">公告信息</legend>
        <div class="form-group" ng-class="{ 'has-error': vm.form.refId.$touched && vm.form.refId.$invalid }">
            <label class="control-label" for="refId">关联分享：</label>
            <input type="number" class="form-control" id="refId" name="refId" ng-model="vm.pushMessage.refId" required>
        </div>
        <div class="form-group" ng-class="{ 'has-error': vm.form.contentText.$touched && vm.form.contentText.$invalid }">
            <label class="control-label" for="contentText">消息内容：</label>
            <textarea class="form-control" id="contentText" name="contentText" ng-model="vm.pushMessage.contentText" required></textarea>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="button" ng-click="asideModel.confirm({type: vm.formMode}, true)" ng-disabled="vm.form.$invalid">
                <i class="fa fa-fw fa-check"></i>发送
            </button>
            <button class="btn btn-link" type="button" ng-click="asideModel.cancel(undefined, true)">
                <i class="fa fa-fw fa-times"></i>取消
            </button>
        </div>
    </fieldset>
</form>
