<vn-page-heading heading="数据统计" sub-heading="Data Statistics"></vn-page-heading>

<div class="page-row">
    <section class="panel panel-default">
        <div class="panel-heading">
            <h5>
                系统信息统计 <small class="text-muted">{{::vm.queryParams.start}}</small>
            </h5>

            <div class="panel-search form-inline" ng-if="!admin.isReadOnly">
                <div class="input-group">
                    <button type="button" class="btn btn-danger" ng-click="vm.delete(admin.isAdmin)">
                        <i class="fa fa-fw fa-plus"></i>删除全部
                    </button>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="search-group">
                <div class="form-group grid-3">
                    <input class="form-control" placeholder="日期" ng-model="vm.queryParams.start" bs-datepicker data-placement="bottom" data-max-date="today">
                </div>
                <div class="form-group grid-3">
                    <input class="form-control" placeholder="用户昵称" ng-model="vm.queryParams.name">
                </div>
                <div class="form-group grid-4">
                    <input class="form-control" placeholder="操作地址" ng-model="vm.queryParams.url">
                </div>
                <div class="form-group grid-4">
                    <input class="form-control" placeholder="错误信息" ng-model="vm.queryParams.message">
                </div>
                <div class="form-group grid-2">
                    <button class="btn btn-primary" type="button" ng-click="vm.search()">
                        <i class="fa fa-fw fa-search"></i>搜索
                    </button>
                </div>
            </div>
        </div>
        <table class="am-fade-and-scale table table-hover">
            <thead>
                <tr>
                    <th class="grid-2">操作用户</th>
                    <th class="grid-3">操作时间</th>
                    <th class="grid-4">操作链接</th>
                    <th class="grid-7">异常信息</th>
                </tr>
            </thead>

            <tbody class="text-muted">
                <tr ng-if="vm.isEmpty">
                    <td class="alert alert-warning text-center">
                        <i class="fa fa-fw fa-exclamation-triangle"></i>没有任何数据
                    </td>
                </tr>
                <tr ng-repeat="record in vm.records track by $index">
                    <td class="grid-2">
                        {{::record.userName}}<i class="fa fa-fw fa-user text-info" bs-tooltip data-title="ID: {{::record.userId}}" data-placement="right"></i>
                    </td>
                    <td class="grid-3" ng-bind="::record.createDate"></td>
                    <td class="grid-4" ng-bind="::record.url"></td>
                    <td class="grid-7" ng-bind="::record.errorMessage | readable"></td>
                </tr>
            </tbody>
        </table>
        <div class="panel-footer text-center">
            <pagination class="pagination-sm" ng-model="vm.queryParams.page" ng-change="vm.search()" total-items="vm.totalItems" items-per-page="vm.queryParams.size"></pagination>
            <small class="pagination-meta text-muted">
                {{vm.queryParams.page}}／{{vm.totalPages}} 页－{{vm.totalItems}} 项
            </small>
        </div>
    </section>
</div>

