<vn-page-heading heading="公司管理" sub-heading="Organization Management"></vn-page-heading>

<div class="page-row">
    <section class="panel panel-default">
        <div class="panel-heading">
            <h5>公司列表<i class="fa fa-fw fa-spinner fa-pulse" ng-hide="vm.isLoaded"></i></h5>

            <div class="panel-search form-inline" ng-if="vm.isLoaded">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-fw fa-search"></i></span>
                    <input class="form-control" ng-model="vm.queryParams.name" placeholder="按名称或域名搜索公司">
                </div>
                <div class="input-group" ng-if="::admin.isAdmin">
                    <button type="button" class="btn btn-primary" ng-click="vm.new()">
                        <i class="fa fa-fw fa-plus"></i>创建公司
                    </button>
                </div>
            </div>
        </div>
        <table class="am-fade-and-scale table table-hover" ng-if="vm.isLoaded">
            <thead>
                <tr>
                    <th class="grid-1 clickable" ng-click="vm.sorter.reorder('delFlag')">
                        状态<i class="fa fa-fw" ng-show="vm.sorter.order === 'delFlag'" ng-class="{'fa-sort-down': vm.sorter.reverse, 'fa-sort-up': !vm.sorter.reverse}"></i>
                    </th>
                    <th class="grid-3 clickable" ng-click="vm.sorter.reorder('fullName')">
                        公司全称<i class="fa fa-fw" ng-show="vm.sorter.order === 'fullName'" ng-class="{'fa-sort-down': vm.sorter.reverse, 'fa-sort-up': !vm.sorter.reverse}"></i>
                    </th>
                    <th class="grid-2 clickable" ng-click="vm.sorter.reorder('shortName')">
                        公司简称<i class="fa fa-fw" ng-show="vm.sorter.order === 'shortName'" ng-class="{'fa-sort-down': vm.sorter.reverse, 'fa-sort-up': !vm.sorter.reverse}"></i>
                    </th>
                    <th class="grid-2 clickable" ng-click="vm.sorter.reorder('domain')">
                        公司域名<i class="fa fa-fw" ng-show="vm.sorter.order === 'domain'" ng-class="{'fa-sort-down': vm.sorter.reverse, 'fa-sort-up': !vm.sorter.reverse}"></i>
                    </th>
                    <th class="grid-3 clickable" ng-click="vm.sorter.reorder('createDate')">
                        创建日期<i class="fa fa-fw" ng-show="vm.sorter.order === 'createDate'" ng-class="{'fa-sort-down': vm.sorter.reverse, 'fa-sort-up': !vm.sorter.reverse}"></i>
                    </th>
                    <th class="grid-3 clickable" ng-click="vm.sorter.reorder('updateDate')">
                        更新日期<i class="fa fa-fw" ng-show="vm.sorter.order === 'updateDate'" ng-class="{'fa-sort-down': vm.sorter.reverse, 'fa-sort-up': !vm.sorter.reverse}"></i>
                    </th>
                    <th class="grid-2">操作</th>
                </tr>
            </thead>

            <tbody class="text-muted">
                <tr ng-if="vm.isEmpty">
                    <td class="alert alert-warning text-center">
                        <i class="fa fa-fw fa-exclamation-triangle"></i>没有任何数据
                    </td>
                </tr>
                <tr ng-repeat="organization in vm.organizations | orderBy : vm.sorter.order : vm.sorter.reverse track by organization.id"
                    ng-switch="::organization.delFlag">

                    <td class="grid-1" ng-switch-when="0">
                        <span class="label label-success">可用</span>
                    </td>
                    <td class="grid-1" ng-switch-when="1">
                        <span class="label label-danger">注销</span>
                    </td>

                    <td class="grid-3">
                        <a ui-sref="departments({organizationID: organization.id})" bs-tooltip data-title="进入部门管理" data-placement="right">
                            {{::organization.fullName}}
                        </a>
                    </td>

                    <td class="grid-2" ng-bind="::organization.shortName"></td>
                    <td class="grid-2" ng-bind="::organization.domain"></td>
                    <td class="grid-3" ng-bind="::organization.createDate | readable : 'date'"></td>
                    <td class="grid-3" ng-bind="::organization.updateDate | readable : 'date'"></td>

                    <td class="grid-2">
                        <div ng-if="!admin.isReadOnly">
                            <a ng-click="vm.edit(organization)" ng-disabled="::organization.delFlag === 1 || admin.isSubAdmin">编辑</a>
                            <span class="text-muted">|</span>
                            <a ng-click="vm.confirm(organization)" ng-disabled="::organization.delFlag === 1 || admin.isSubAdmin">删除</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="panel-footer text-center" ng-if="vm.isLoaded">
            <pagination class="pagination-sm" ng-model="vm.queryParams.page" ng-change="vm.search()" total-items="vm.totalItems" items-per-page="vm.queryParams.size"></pagination>
            <small class="pagination-meta text-muted">
                {{vm.queryParams.page}}／{{vm.totalPages}} 页－{{vm.totalItems}} 项
            </small>
        </div>
    </section>
</div>
